<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{= config.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{= config.title }}">
    <meta name="author" content="Victor Petrov">

    <!-- Le styles -->
    <link href="{{=config.prefix}}js/{{=config.lib.bootstrap}}/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="js/{{= config.lib.jquery }}/jquery.js"></script>
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }

        .thumbnail {
            min-height: 50px;
            vertical-align:middle;
        }

        .thumbnail img {
            vertical-align: middle;
        }

    </style>

    <link href="{{=config.prefix}}js/{{=config.lib.bootstrap}}/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
    <script>
        var OPENID={
            'google':   'https://www.google.com/accounts/o8/id',
            'yahoo':    'https://me.yahoo.com',
            'openid':   ''
        }

        function onOpenIdClick(e) {
            var provider = $(e.currentTarget).attr('data-openid');

            e.stopPropagation();

            if (provider && OPENID[provider]) {
                $('#openid_identifier').val(OPENID[provider]);
                $('form').submit();
            }

            return false;
        }

        $(document).ready(function(){
            $('a.thumbnail').click(onOpenIdClick)
        });
    </script>
</head>

<body>

<div class="container">

    <form class="form-signin" action="{{=config.prefix}}login" method="post">
        <h2 class="form-signin-heading"><img src="img/logo/openid.png" width="50" height="50"> Please sign in:</h2>

        <hr>
        <ul class="thumbnails">
            <li class="span2">
                <a href="#" class="thumbnail" data-openid='google'>
                    <img src="img/logo/google.png">
                </a>
            </li>
            <li class="span2">
                <a href="#" class="thumbnail" data-openid='yahoo'>
                    <img src="img/logo/yahoo.png">
                </a>
            </li>
        </ul>
        <input id="openid_identifier" name="openid_identifier" type="hidden" value=''>
    </form>

</div> <!-- /container -->

</body>
</html>
